pipeline/testPipeline.json
{
	"name": "testPipeline",
	"properties": {
		"activities": [
			{
				"name": "LocalVMNeo4j",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "BuildCypherQuery",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://localhost:7474/db/neo4j/tx/commit",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": "Basic bmVvNGo6dGVzdA=="
					},
					"body": {
						"value": "@activity('BuildCypherQuery').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get atoms from api",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:41",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "api/GetDummyAtoms"
					},
					{
						"name": "Destination",
						"value": "atoms-from-api//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['product']"
								},
								"sink": {
									"path": "product"
								}
							},
							{
								"source": {
									"path": "$['components']"
								},
								"sink": {
									"path": "components"
								}
							},
							{
								"source": {
									"path": "$['authoritativeBranch']"
								},
								"sink": {
									"path": "authoritativeBranch"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DummyAtomsAPI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AtomsFromAPI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "api atoms exist",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Get atoms from api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "TEst",
						"value": "myValue"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "AtomsFromAPI",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:20",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "LocalVMNeo4j",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AtomsFromAPI",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "api atoms exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AtomsFromAPI",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "BuildCypherQuery",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://generateatomfilecypher.azurewebsites.net/api/AtomFileCypher?code=yQxHDhkGo7ZyYOVT9YqxzT6H/1YTaXgHp30PWAj8atKbMUtKaMuw5Q==",
					"method": "POST",
					"body": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}