pipeline/triggeredPipelineTest.json
{
	"name": "triggeredPipelineTest",
	"properties": {
		"activities": [
			{
				"name": "flatten on components",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "New Atoms exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:00:30",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true,
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"path": "component_id"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"path": "component_name"
								}
							},
							{
								"source": {
									"path": "['isDeprecated']"
								},
								"sink": {
									"path": "component_isDeprecated"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"path": "component_type"
								}
							},
							{
								"source": {
									"path": "['dependencies']"
								},
								"sink": {
									"path": "dependencies"
								}
							},
							{
								"source": {
									"path": "$['product']['id']"
								},
								"sink": {
									"path": "product_id"
								}
							},
							{
								"source": {
									"path": "$['product']['Name']"
								},
								"sink": {
									"path": "product_name"
								}
							},
							{
								"source": {
									"path": "$['authoritative-branch']"
								},
								"sink": {
									"path": "authoritative-branch"
								}
							}
						],
						"collectionReference": "$['components']"
					}
				},
				"inputs": [
					{
						"referenceName": "atomjson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "atomsFlattened",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "New Atoms exist",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "TEst",
						"value": "myValue"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "atomjson",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:20",
					"sleep": 10
				}
			},
			{
				"name": "GenerateCypherQuery",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "dataflow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "AtomFileCypher",
					"method": "POST",
					"body": {
						"value": "@activity('dataflow1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "VinceCypherMaker",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:2:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "CloudVMNeo4j",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GenerateCypherQuery",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://40.113.94.165:7474/tx/commit",
					"method": "POST",
					"headers": {
						"Authorization": "Basic bmVvNGo6dGVzdA=="
					},
					"body": {
						"value": "@activity('GenerateCypherQuery').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}