pipeline/triggeredPipelineTest.json
{
	"name": "triggeredPipelineTest",
	"properties": {
		"activities": [
			{
				"name": "GenerateCypherQuery",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "dataflow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "AtomFileCypher",
					"method": "POST",
					"body": {
						"value": "@activity('dataflow1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "VinceCypherMaker",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:2:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "CloudVMNeo4j",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GenerateCypherQuery",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://40.113.94.165:7474/tx/commit",
					"method": "POST",
					"headers": {
						"Authorization": "Basic bmVvNGo6dGVzdA=="
					},
					"body": {
						"value": "@activity('GenerateCypherQuery').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}